# SQLite

SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is the most widely deployed SQL database engine in the world. The source code for SQLite is in the public domain.
SQLite is not directly comparable to client/server SQL database engines such as MySQL, Oracle, PostgreSQL, or SQL Server since SQLite is trying to solve a different problem. 
Client/server SQL database engines strive to implement a shared repository of enterprise data. They emphasize scalability, concurrency, centralization, and control. SQLite strives to provide local data storage for individual applications and devices. SQLite emphasizes economy, efficiency, reliability, independence, and simplicity. 
When not to Use SQLITE ?

## Client/Server Applications
If there are many client programs sending SQL to the same database over a network, then use a client/server database engine instead of SQLite.
High-volume Websites
SQLite will normally work fine as the database backend to a website. But if the website is write-intensive or is so busy that it requires multiple servers, then consider using an enterprise-class client/server database engine instead of SQLite.
Very large datasets
An SQLite database is limited in size to 140 terabytes (247 bytes, 128 tibibytes).
High Concurrency

SQLite supports an unlimited number of simultaneous readers, but it will only allow one writer at any instant in time.

## Connection objects
Connection objects create a connection with the database and these are further used for different transactions. These connection objects are also used as representatives of the database session.
You can use a connection object for calling methods like commit(), rollback() and close()
Cursor objects

Cursor is one of the powerful features of SQL. These are objects that are responsible for submitting various SQL statements to a database server. 
 
```python 
sqlite3.connect(database [,timeout ,other optional arguments])
```
This API opens a connection to the SQLite database file. You can use ":memory:" to open a database connection to a database that resides in RAM instead of on disk. If database is opened successfully, it returns a connection object.
When a database is accessed by multiple connections, and one of the processes modifies the database, the SQLite database is locked until that transaction is committed. The timeout parameter specifies how long the connection should wait for the lock to go away until raising an exception. The default for the timeout parameter is 5.0 (five seconds).
If the given database name does not exist then this call will create the database. You can specify filename with the required path as well if you want to create a database anywhere else except in the current directory.

```python
connection.cursor([cursorClass])
```
This routine creates a cursor which will be used throughout of your database programming with Python. This method accepts a single optional parameter cursorClass. If supplied, this must be a custom cursor class that extends sqlite3.Cursor.

```python 
cursor.execute(sql [, optional parameters])
```
This routine executes an SQL statement. The SQL statement may be parameterized (i. e. placeholders instead of SQL literals). The sqlite3 module supports two kinds of placeholders: question marks and named placeholders (named style).
For example âˆ’ cursor.execute("insert into people values (?, ?)", (who, age))

```python 
connection.commit()
```
This method commits the current transaction. If you don't call this method, anything you did since the last call to commit() is not visible from other database connections.
```python 
connection.rollback()
```
This method rolls back any changes to the database since the last call to commit

```python
connection.close()
```

This method closes the database connection. Note that this does not automatically call commit(). If you just close your database connection without calling commit() first, your changes will be lost!

# Program 1

Following Python code shows how to connect to an existing database. If the database does not exist, then it will be created and finally a database object will be returned.

In [1]:
import sqlite3
cxn=sqlite3.connect("example.db")
cur=cxn.cursor()

In [5]:
# Execute only the first time to generate table
cur.execute('create table tab1 (name char(20), age integer)')
cur.execute('create table tab2 (name char(20), age integer)')

In [3]:
cur.execute('insert into tab1 values ("chitra",34)')
cur.execute('insert into tab1 values ("rama",34)')
cxn.execute('insert into tab2 values ("Ganesh",21)')
cxn.execute('insert into tab2 values ("Ggg",21)')
#usage of place holder. 
info=('aa',30)
cur.execute('insert into tab1 (name,age) values (?,?)',info)
x=cur.execute('select * from tab1')
for i in x:
    print(i)

print("done")

('chitra', 34)
('rama', 34)
('aa', 30)
done

In [4]:
# To Delete tab1 and tab2
#cur.execute('drop table tab1')
#cur.execute('drop table tab2')

In [18]:
# To close the connection
#cxn.commit()
#cxn.close()

## Program2:

If you pass the file name as :memory: to the connect() function of the sqlite3 module, it will create a new database that resides in the memory (RAM) instead of a database file on disk.
When this is done, no disk file is opened. Instead, a new database is created purely in memory. The database ceases to exist as soon as the database connection is closed. Every :memory: database is distinct from every other. So, opening two database connections each with the filename ":memory:" will create two independent in-memory databases.

In [7]:
import sqlite3

con = sqlite3.connect(":memory:") # create DB in RAM instead of Hard Disk
cur = con.cursor()
cur.execute("create table people (name_last, age)")
who = "PAP"
age =2
# This is the qmark style:
cur.execute("insert into people values (?, ?)", (who, age))
# And this is the named style:
cur.execute("select * from people where name_last=:who and age=:age", {"who": who, "age": age})
print (cur.fetchone())

('PAP', 2)

# Program 3

In [2]:
import sqlite3
conn = sqlite3.connect('class.db')

In [4]:
#create
# """
print ("Opened database successfully")
conn.execute('''CREATE TABLE COMPANY
                         (ID INT PRIMARY KEY     NOT NULL,
                            NAME           TEXT    NOT NULL,
        		 AGE            INT     NOT NULL,
       		  ADDRESS        CHAR(50),
        		 SALARY         REAL);''')
print ("Table created successfully")
#insert
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");
# """
conn.commit()
print("Records created successfully")

Opened database successfully
Table created successfully
Records created successfully

In [10]:
#select
cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print ("ID = ", row[0])
    print ("NAME = ", row[1])
    print ("ADDRESS = ", row[2])
    print ("SALARY = ", row[3], "\n")
print ("Operation done successfully")
#-----------------------------------------------------------------------------------
conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()
print ("Total number of rows updated :", conn.total_changes)
conn.close()

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully
Total number of rows updated : 5

In [3]:
# To Delete
# conn.execute("DROP TABLE COMPANY")

# SQL Alchemy

In [5]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.26-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.6 MB 1.7 MB/s
Requirement already satisfied: greenlet!=0.4.17 in /usr/lib/python3/dist-packages (from sqlalchemy) (0.4.15)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.4.26

In [1]:
from sqlalchemy import create_engine,MetaData,Table,Column,Integer,String,ForeignKey

In [2]:
engine=create_engine('sqlite:///university_db',echo=True)
meta=MetaData()
students=Table('students',meta,Column('id',Integer,primary_key=True),
Column('firstname',String))


exam_sect=Table('exam_sect',meta,
Column('id',Integer,primary_key=True),
Column('st_id',Integer, ForeignKey('students.id')),
Column('marks',Integer))
meta.create_all(engine)

2021-11-10 13:13:36,587 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 13:13:36,588 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-11-10 13:13:36,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-10 13:13:36,589 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2021-11-10 13:13:36,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-10 13:13:36,590 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("exam_sect")
2021-11-10 13:13:36,591 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-10 13:13:36,591 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("exam_sect")
2021-11-10 13:13:36,592 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-10 13:13:36,592 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	firstname VARCHAR,
	PRIMARY KEY (id)
)


2021-11-10 13:13:36,593 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()
2021-11-10 13:13:36,603 INFO sqlalchemy.engine.Engine
CREATE TABLE exam_sect (
	id INTEGER NOT NULL,
	st_id INTEGER,
	marks INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(st_id) REFERENCES students (id)
)


2021-11-10 13:13:36,604 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2021-11-10 13:13:36,614 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
engine=create_engine('sqlite:///university_db',echo=True)
meta=MetaData()
students=Table('students',meta,Column('id',Integer,primary_key=True),
Column('firstname',String))

#meta.create_all(engine)

#ins=students.insert().values(id=12,firstname='chitra')
conn=engine.connect()
conn.execute(students.insert(),[{'id':13,'firstname':'abc'},{'id':14,'firstname':'def'}])
s1=students.select()
res=conn.execute(s1)
for i in res:
    print(i)

s1=students.update().where(students.c.firstname=='chitra').values(firstname='CGM')
conn.execute(s1)
s=students.select()
print(conn.execute(s).fetchone())

2021-11-10 13:14:05,432 INFO sqlalchemy.engine.Engine INSERT INTO students (id, firstname) VALUES (?, ?)
2021-11-10 13:14:05,434 INFO sqlalchemy.engine.Engine [generated in 0.00219s] ((13, 'abc'), (14, 'def'))
2021-11-10 13:14:05,436 INFO sqlalchemy.engine.Engine COMMIT
2021-11-10 13:14:05,463 INFO sqlalchemy.engine.Engine SELECT students.id, students.firstname
FROM students
2021-11-10 13:14:05,464 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ()
(13, 'abc')
(14, 'def')
2021-11-10 13:14:05,466 INFO sqlalchemy.engine.Engine UPDATE students SET firstname=? WHERE students.firstname = ?
2021-11-10 13:14:05,466 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ('CGM', 'chitra')
2021-11-10 13:14:05,467 INFO sqlalchemy.engine.Engine COMMIT
2021-11-10 13:14:05,468 INFO sqlalchemy.engine.Engine SELECT students.id, students.firstname
FROM students
2021-11-10 13:14:05,469 INFO sqlalchemy.engine.Engine [cached since 0.005865s ago] ()
(13, 'abc')